
nav{
width:95%;
height:100px;
margin: 0 auto;
	background-color:rgba(100,50,255,0.9);  
	text-align: center;
	border-radius: 20px;
}
nav ul li {
	display: inline; 
	font-size: 25pt;	
}

#logo {
	position: absolute; 
	left: 80px; 
	top: -25px; 
	border-radius: 50px;
		
	}
#Pconteudo{
	
	width:1000px;
	height:500px;
	margin: 0 auto;
	top:100px;
	background-color:#666;
	border-radius: 10px;
	position: relative;
	}



body
{
	background-color:black;
    color: black;
}