
body
{
	/**problemas no back img*/
	background-image:url(imgs/back.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

nav{
	width:95%;
	height:100px;
	margin: 0 auto;
		background-color:rgba(29,111,149,0.9);  
		text-align: center;
		border-radius: 20px;
	}

nav ul li {
	display: inline; 
	font-size: 25pt;	
}
#logo {
	position: absolute; 
	left: 80px; 
	top: -25px; 
	border-radius: 50px;	
	}
#Pconteudo{
	width:900px;
	height:500px;
	margin: 0 auto;
	top:100px;
	background-color:rgba(202,202,202,0.9);
	border-radius: 10px;
	position: relative;
	text-align: center;

	}
	h1{
		text-align: center;
	color: rgba(29,111,149,0.9);
	}
#iniProblema{
	position: absolute; 
	width:780px;
	height:380px;
	margin: 0 auto;
	top: 250px;

	
}	
footer{
	position: relative;
	text-align: center;
	font-family:'Gill Sans MT';
	font-size:larger;
	text-decoration-style:solid;
	width:250px;
	height:23px;
	top: 400px;
	border-radius: 10px;
	background-color:rgba(0, 67, 99, 0.9) ;
	color:rgba(202,202,202,0.9);
}
