
body
{

	background-image:url(imgs/fundoteste.jpg);
	background-size: 100% 1600px;
    background-repeat: no-repeat;
	background-color:rgba(29,111,149,0.9) ;
	margin: 0 auto;

}
nav{
	width:80%;
	height:100px;
	margin: 0 auto;
    background-color:rgb(0, 20, 34);  
		text-align: center;
		border-radius: 20px;
    }
    nav ul li {
        display: inline; 
        font-size: 25pt;	
    }
    #navimgs{ 
        width:95px;
        height:95px;
    }
    #gambi{
        width:100px;
        height:35px;	
    }
    #espc{
        width:200px;
        height:35px;	
    }
    #logo {
        position: absolute; 
        width:150px;
        height:150px;
        left: 90px; 
        top: 15px; 
        border-radius: 50px;	
        }  
#conteudo1{
    position:relative;
    width: 300px;
    height:400px;
    top:1000px;
}
#div1{
    width: 100%;
	height:400px;
    margin: 0 auto;
    top:-300px;
    text-align:center ;
	background-color:rgba(0, 20, 34,0.9);
    position: relative;
}
#div2{
    width: 590px;
	height:350px;
    margin: 0 auto;
    top:250px;
    left:20%;
    text-align:center ;
	background-color:rgba(0, 20, 34,0.9);
    position: relative;
}
#conteudo2{
    position: relative;
    width: 400px;
    height:600px;
    top:100px;
}
#intro{
    position: relative;
    width: 300px;
    height:400px;
    top:-200px;
    border-radius: 40px;
}
#agra{
    position: relative;
    width: 550px;
    height:300px;
    top:25px;
}




        footer{
            position: relative;
            text-align: center;
            font-family:'Gill Sans MT';
            font-size:larger;
            text-decoration-style:solid;
            width:100%;
            height:23px;
            top: 300px;
            background-color:rgb(0, 67, 99) ;
            color:rgba(202,202,202,0.9);
        }
      